# Size Statistics

These statistics are NOT 100% accurate, but they likely are as realistic as (reasonably) possible.

The definition of an entry (or a "complete" torrent) is quite murky. SeaDex defines it as an AniList entry, but every private tracker has their own definition (typically, they follow AniDB or TVDB), while Nyaa does not enforce a specific definition. Every release can quite possibly have slightly different torrents across trackers, or a single torrent on Nyaa can include several SeaDex entries. A Nyaa torrent might contain an entire franchise, but only a single file out of it might be relevant.

All of this and more means that we need to settle on a method to calculate these statistics. This was essentially calculated by iterating over every SeaDex entry, and if an entry has both private tracker torrent and public torrent from the same group, only the former is considered; otherwise, all torrents are considered. The `total_entries` metric counts how many times a group appears across entries, with each group counted up to twice per entry—once for best torrents and once for alt torrents. This avoids skewing results from entries with multiple torrents (e.g., a single entry with 12 torrents counts as one for `total_entries`). Exact duplicates are also discarded.

## Overview

- Total size: `{{ stats.total | human_size }}`
- Best size: `{{ stats.best | human_size }}`
- Alt size: `{{ stats.alt | human_size }}`
- Realistic size: `{{ stats.realistic | human_size }}`

The `Realistic size` stat tries to emulate a scenario where a user will likely download the best dual audio release for an entry, falling back to the best single audio release if that's not present, and again falling back to whatever is available if neither exists.

## Breakdown by Group

| Rank | Group | Total Size | Best Size | Total Entries |
| :----| :-----| :----------| :---------| :-------------|
{% for g in stats.groups %}
| {{ g.rank }} | {{ g.name }} | {{ g.total_size | human_size }} | {{ g.best_size | human_size }} ({{ "%.2f" | format(g.best_size / g.total_size * 100) }}%) | {{ g.total_entries }} ({{ (g.total_size / g.total_entries) | human_size }} each) |
{% endfor %}
