# Unmuxed

SeaDex entries that outline the recommended combinations for muxing to create the ideal release. Check out the [tutorial](https://thewiki.moe/advanced/muxing/) if you want to mux these releases.

{% if rows %}
| Idx | Title | Year | Updated At | Links |
| :---| :-----| :----| :---------| :----|
{% for r in rows %}
| {{ loop.index }} | {{ r.title }} | {{ r.year }} | {{ r.updated_at }} | [SeaDex]({{ r.seadex_url }}), [AniList]({{ r.anilist_url }}) |
{% endfor %}
{% else %}
*No entries match this criterion.*
{% endif %}
